
<!DOCTYPE html>
<html>
<title>Compose</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
textarea{
    height: 100%;
    width: 100%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
a {text-decoration:none}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>COMPOSE</b></h1>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Main View-->
<div class="w3-col l9 s12">
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    <form action="/compose" method="POST" enctype="multipart/form-data">
      <h3><b><span>Subject:<input type="text" id="Subject" name="Subject", value = "{{ message['subject'] }}"></span><br></b></h3>
      <h5><span>To:<input type="email" id="to" name="to", value = "{{ message['to'] }}"></span></h5>
    </div>

    <div class="w3-container">
      <span><textarea style="box-sizing: border-box;" id="body" name="body", value = "{{ message['body'] }}"></textarea></span>
      <div class="w3-row">
        <div class="w3-col m11 s11">
            Add Attachment:
            <input type ="file" name="attachment" id="attachment">
        </div>
        <div class="w3-col m1 s1">
          <p><b><input type="submit" name="submit" value="Send"></b></p>
        </div>
      </div>
      <div>
        <p style="color: red">{{ error }}</p>
      </div>
      </form>
    </div>
  </div>
  <hr>

</div>


    <!-- Sidebar menu -->
    <div class="w3-col s3">
        <div class="w3-card w3-margin w3-margin-top" style:"text-align: center;">
            <center><a href="/compose">Create</a></center>
        </div>
        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
            <div class="w3-container w3-white">
                <h4><b>{{ session['profile']['emailAddress'] }}</b></h4>
            </div>
            <div class="w3-container">
                <form action="/inbox" method="GET" id="query">
                <span><input type="searchKey" name="q"  id="q" placeholder="Search" value="{{ session['query'] }}" > </span>
                <button type = "submit" name="submit" form="query" value="submit"> 
                Search 
                </button>
        </form>
            </div>
            <div class="w3-container wr-white">
                <a href="/clear"><h6>Logout</h6></a>
                <a href="/revoke"><h6>Revoke</h6></a>
            </div>
        </div>

    <!-- Folders -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
        <h4>Folders</h4>
            </div>
            <ul class="w3-ul w3-hoverable w3-white">
                <li class="w3-padding-16">
                    <a href="/inbox?label=INBOX"><span class="w3-large">Inbox</span></a><br>
                </li>
                <li class="w3-padding-16">
                    <a href="/inbox?label=UNREAD"><span class="w3-large">Unread</span></a><br>
                </li> 
                <li class="w3-padding-16">
                    <a href="/inbox?label=IMPORTANT"><span class="w3-large">Important</span></a><br>
                </li>   
                <li class="w3-padding-16">
                    <a href="/inbox?label=STARRED"><span class="w3-large">Starred</span></a><br>
                </li> 
                <li class="w3-padding-16">
                    <a href="/inbox?label=CHAT"><span class="w3-large">Chat</span></a><br>
                </li>  
                <li class="w3-padding-16">
                    <a href="/inbox?label=SENT"><span class="w3-large">Sent</span></a><br>
                </li>  
                <li class="w3-padding-16">
                    <a href="/inbox?label=DRAFT"><span class="w3-large">Draft</span></a><br>
                </li>
                <li class="w3-padding-16">
                    <a href="/inbox?label=TRASH"><span class="w3-large">Trash</span></a><br>
                </li>  
                <li class="w3-padding-16">
                    <a href="/inbox?label=SPAM"><span class="w3-large">Spam</span></a><br>
                </li>
                {% for label in labels %}
                    <li class="w3-padding-16">
                        <a href="/inbox?label={{ label['id'] }}"> <span class="w3-large">{{ label['name'] }}</span> </a> <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    <hr> 

    <!-- END Sidebar Menu -->
    </div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
